body{
	background-color: #f2f2f2;
}
.rewrap{
	width: 990px;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
.retitle{
	padding-left: 10px;
	height: 36px;
	line-height: 36px;
}
.retitle h2{
	font-size: 18px;
}
.recontent{
	margin-top: 40px;
	padding-top: 5px;
	padding-left: 200px;
	width: 850px;
	font-size: 12px;
}
.recontent .reone{
	margin-bottom: 10px;
	font-size: 18px;
	color: #7abd54;
	font-weight: bold;
}
.recontent .reone img{
	margin-top: -5px;
    margin-left: -48px;
    width: 40px;
    height: 40px;
}
.recontent .reone img, .recontent .reone span{
	vertical-align: middle;
}
.recontent .retwo a:nth-child(1){
	display: inline-block;
    width: 85px;
    height: 30px;
    background: #f6f6f6;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 2px;
}
.recontent .retwo a{
	margin-right: 10px;
}
.recontent .rethree{
	margin:20px 0;
}
em{
	color:#f60;
}
.rethree a, .refour a{
	color:#005ea7;
}
.rename{
	margin-top: 15px;
	display: none;
}
.spechar{
	display: none;
	margin: 5px 0px 5px 63px;
}
.refour{
	margin: 20px 0 45px;
	border: 1px solid #d0e4c2;
	padding: 30px;
	width: 520px;
	background: #fcfffa;
	border-radius: 3px;
}
.refour p:nth-child(1){
	margin-bottom: 20px;
	font-size: 18px;
	color: #f60;
}
.refour p:nth-child(1) em{
	font-size: 24px;
}
.refour label{
	margin-right: 5px;
	height: 24px;
	line-height: 24px;
}
.text{
	min-width: 188px;
	padding: 4px 5px;
	margin-right: 5px;
}
.rebtn{
	width: 125px;
	text-align: center;
	padding: 4px 5px;
	background: #f5f5f5;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.erroremail{
	color: red;
	margin: 10px 0;
	display: none;
}
.erroremail img, .erroremail span{
	vertical-align: middle;
}
.refour p:last-child{
	margin-top: 10px;
}







